@font-face {
  font-family: "Reforma";
  src: url("/public/reforma.1918-gris.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

body {
  font-family: "Reforma", sans-serif;
  background-color: #f6f6f6;
  color: #424242;
  overflow: scroll;
}

header {
  max-height: 150%;
  background: #304050 !important;
  color: #d0ccc8 !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

button:focus { filter: none; }

header h1 {
  font-size: 72px;
}

select:focus {
  outline: 2px dotted transparent !important;
  transition: outline 0.12s ease, outline-offset 0.12s ease;
}

pre {
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}

pre.code {
  border-radius: 4px;
  border: 1px solid #282b2e;
  position: relative;
}

pre.code label {
  font-family: inherit;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  left: 1px;
  top: 15px;
  text-align: center;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

pre.code code {
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  display: block;
  margin: 0 0 0 40px;
  padding: 0 16px 14px;
  border-left: 1px solid #555;
  overflow-x: auto;
  font-size: 13px;
  line-height: 19px;
}

button.cta {
  font-family: inherit !important;
  font-size: 1em !important;
  background-color: #ef5745 !important;
}

button.copy {
  font-family: inherit !important;
  font-size: 1em !important;
  background-color: lightgrey !important;
  padding: 2px;
}

.notice {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
  color: inherit;
}

.copy-to-clipboard {
  display: flex;
  justify-content: right;
  gap: 1em;
  align-items: center;
}

.pickers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
}

.picker-wide {
  grid-column: span 2;
}

@media screen and (max-width: 600px) {
  .pickers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .picker-wide {
    grid-column: span 1;
  }
}

.logo {
  padding: 5px;
  background-color: #d0ccc8;
  margin-left: 0.3em;
}

.sm-t {
  font-size: 12px;
}

.p-1 {
  padding: 0.5em;
}
