@media (prefers-color-scheme: dark) {

  a,
  a:visited {
    color: #5295dd;
  }
}

body {
  font-family: sans-serif;
  background-color: #f6f6f6;
  color: #424242;
  overflow: scroll;
  background: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .95)), url("/public/cover.webp");
}

header {
  max-height: 150%;
  background: #304050 !important;
  color: #d0ccc8 !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

button:focus {
  filter: none;
}

header h1 {
  font-size: 72px;
  font-weight: 100;
}

input,
select {
  width: 100%;
  line-height: 1.6 !important;
  padding-right: 0 !important;
}

select:focus {
  outline: 2px dotted transparent !important;
  transition: outline 0.12s ease, outline-offset 0.12s ease;
}


pre {
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}

p {
  margin-top: 0.5em;
}

pre.code {
  border-radius: 4px;
  border: 1px solid #282b2e;
  position: relative;
}

pre.code label {
  font-family: inherit;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  left: 1px;
  top: 15px;
  text-align: center;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

pre.code code {
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  display: block;
  margin: 0 0 0 40px;
  padding: 0 16px 14px;
  border-left: 1px solid #555;
  overflow-x: auto;
  font-size: 13px;
  line-height: 19px;
}

button.cta {
  font-family: inherit !important;
  font-size: 1em !important;
  background-color: rgb(161, 85, 56) !important;
}

button.copy {
  font-family: inherit !important;
  font-size: 1em !important;
  background-color: lightgrey !important;
  padding: 2px;
}

.notice {
  background: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2rem 0;
  color: var(--text-light);
}

.copy-to-clipboard {
  display: flex;
  justify-content: right;
  gap: 1em;
  align-items: center;
}

.pickers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 0.5em;
  column-gap: 0.5em;
  margin-bottom: 0.5rem;

}

.picker-wide {
  grid-column: span 2;
}

.picker-wider {
  grid-column: span 4;
}


@media screen and (max-width: 600px) {
  .pickers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .picker-wide {
    grid-column: span 1;
  }

  .picker-wider {
    grid-column: span 1;
  }
}

.input-wrapper {
  display: flex;
  justify-content: left;
  text-align: left;
  white-space: nowrap;
  border: 1px solid var(--border);
  border-radius: 5px;
  margin-bottom: 0.5em;
}

input.build-variant {
  position: relative;
  width: 100%;
  border: none;
  margin-bottom: 0 !important;
  width: 90%;
  line-height: 0.1em;
}

.input-suffix {
  vertical-align: middle;
  position: relative;
  padding: 15px 15px 15px 15px;
  border-radius: 0px 4px 4px 0px;
  background-color: rgb(161, 85, 56) !important;
  opacity: 0.9;
  color: var(--bg);
}

.logo {
  padding: 5px;
  background-color: #d0ccc8;
  margin-left: 0.3em;
  margin-bottom: 0.1em;
}

.sm-t {
  font-size: .8em;
}

.p-1 {
  padding: 0.5em;
}

.mt-1 {
  margin-top: 2em;
}

.mt-header {
  margin-top: 1em;
}

.subheading {
  font-weight: bold;
  text-underline-offset: 0.3em;

}

h4 {
  margin-bottom: 0;
}

body>footer {
  font-size: inherit;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
